<div id="american-life" class="max block">
	<h2>American Life</h2>
	<hr>
	<p>Documentation and interpretation of American life and mores is a frequent collection focus. Even idealized and sentimental narratives reveal something about how we want our world to be, how we wish to be depicted.</p>
</div>

{% import 'components/_slideshow.html' as slide %}
<div class="gallery">
	<div class="gridtwo">
		{{ slide.info("10728730","amr-sizer",'Paul C. Stahr (1883-1953), “Retouching an Old Masterpiece” (c.1915), watercolor, gouache, pen & black ink on paper', 'amr-one' ) }}

		{{ slide.info("10728684","", 'Joseph Christian Leyendecker (1874-1951), “Republicans vs. Democrats” (c.1936), oil on canvas', 'amr-two') }}

		{{ slide.info("10728683","",'Charles Dana Gibson (1867-1944), “Girl at Party,” pen & ink on board', 'amr-three', 'large' ) }}

		{{ slide.info("10728726","", 'Frederic Remington (1861-1909), “Call the Doctor” (c.1889), oil on canvas', 'amr-four', 'large') }}

		{{ slide.info("10817317","",'Thornton Oakley (1881-1953), “News Vendor on Broadway” (1905), oil on canvas', 'amr-five' ) }}

		{{ slide.info("10728668","",'John Philip Falter (1910-1982), “Windy City” (c.1946), oil on board', 'amr-six' ) }}

		{{ slide.info("10728704","",'Norman Rockwell (1894-1978), “After the Prom” (c.1957), oil on canvas', 'amr-seven' ) }}

		{{ slide.info("10728707","",'Norman Rockwell (1894-1978), “The Gossips” (c.1948), oil on canvas', 'amr-eight' ) }}

		{{ slide.info("10817319","",'Everett Shinn (1876-1953), “Ballet Dancer” pastel on paper', 'amr-nine' ) }}
	</div>
</div>
