<div id="american-life" class="max block">
	<h2>American Life</h2>
	<hr>
	<p>Documentation and interpretation of American life and mores is a frequent collection focus. Even idealized and sentimental narratives reveal something about how we want our world to be, how we wish to be depicted.</p>
</div>

{% import 'components/_slideshow.html' as slide %}
<div class="gallery">
	<div class="gridtwo">
		{{ slide.info("10728730","amr-sizer",'“Retouching an Old Masterpiece” (c.1915) by Paul C. Stahr (1883-1953)', 'amr-one' ) }}

		{{ slide.info("10728684","", '“Republicans vs. Democrats” (c.1936) by Joseph Christian Leyendecker (1874-1951)', 'amr-two') }}

		{{ slide.info("10728683","",'“Girl at Party” by Charles Dana Gibson (1867-1944)', 'amr-three', 'large' ) }}

		{{ slide.info("10728726","", '“Call the Doctor” (c.1889) by Frederic Remington (1861-1909)', 'amr-four', 'large') }}

		{{ slide.info("10817317","",'“News Vendor on Broadway” (c. 1905) by Thornton Oakley (1881-1953)', 'amr-five' ) }}

		{{ slide.info("10728668","",'“Windy City” (c.1946) by John Philip Falter (1910-1982)', 'amr-six' ) }}

		{{ slide.info("10728704","",'“After the Prom” (c.1957) by Norman Rockwell (1894-1978)', 'amr-seven' ) }}

		{{ slide.info("10728707","",'“The Gossips” (c.1948) by Norman Rockwell (1894-1978)', 'amr-eight' ) }}

		{{ slide.info("10817319","",'“Ballet Dancer” by Everett Shinn (1876-1953)', 'amr-nine' ) }}
	</div>
</div>