<div class="max block">
	<h2>Classic Stories and Illustrators</h2>
	<hr>
	<p>The stories we were told, the first books we read and the images we grew to love as children are part of who we are today; many themes appear generation after generation.
	</p>
</div>

{% import 'components/_slideshow.html' as slide %}
<div id="classics" class="gallery">
	<div class="grid">

	{{ slide.info("10814711","cls-item grid-sizer",'“N.C. Wyeth (1882-1945), “The Storybook” (c.1921), oil on canvas', "one" ) }}

	{{ slide.info("10728698","",'Arthur Rackham (1867-1939), “Badger\'s Winter Stories” ink & watercolor on card', "two" ) }}

	{{ slide.info("10728705", "", 'E.H Shepard (1879-1976), “Christopher Robin Gives Extract of Malt All Around” (c.1928), pen ink and watercolor with pencil', "three", 'large' ) }}

	{{ slide.info("10814726","",'Beatrix Potter (1866-1943), “Aunt Pettitoes & Three Piglets” (c.1912), pencil, ink & watercolor', "four" ) }}

	{{ slide.info("10814733"," ",'Helen Mary Jacobs (1888-1970), “Woodland Elves” pen, ink & watercolor on paper', "five" ) }}

	{{ slide.info("10817035","",'Frank Adams (1871-1944), “Story of Hansel & Gretel” (c.1925), pen, ink & watercolor', "six" ) }}

	{{ slide.info("10728681","",'Harold Gaze (1885-1962), “Up to Mischief” (c.1958), watercolor & gouache on paper', "seven" ) }}

	{{ slide.info("10728729","",'Jessie Willcox Smith (1863-1935), “Mowgli” (c.1923), oil & charcoal on paper', "eight" ) }}

	{{ slide.info("10728660"," ",'Edmund Dulac (1882-1953), “The Little Mermaid” (c.1911), watercolor', "nine" ) }}

	{{ slide.info("10728702","",'Maxfield Parrish (1870-1966), “Air Castles” (c.1904), oil on canvas', "ten" ) }}

	{{ slide.info("10817047","",'Frank Frazetta (1928-), “Mothman” (c.1980), oil on canvasboard', "eleven" ) }}
	</div>
</div>
