<div id="classics" class="max block">
	<h2>Classic Stories and Illustrators</h2>
	<hr>
	<p>The stories we were told, the first books we read and the images we grew to love as children are part of who we are today; many themes appear generation after generation.
	</p>
</div>

{% import 'components/_slideshow.html' as slide %}
<div class="gallery">
	<div class="grid">

	{{ slide.info("10814711","cls-item grid-sizer",'“The Storybook” (c.1921) by N.C. Wyeth (1882-1945)', "one" ) }}

	{{ slide.info("10728698","",'“Badger\'s Winter Stories” by Arthur Rackham (1867-1939)', "two" ) }}

	{{ slide.info("10728705", "", '“Christopher Robin Gives Extract of Malt All Around” (c.1928) by E.H Shepard (1879-1976)', "three", 'large' ) }}

	{{ slide.info("10814726","",'“Aunt Pettitoes & Three Piglets” (c.1912) by Beatrix Potter (1866-1943)', "four" ) }}

	{{ slide.info("10814733"," ",'“Woodland Elves” by Helen Mary Jacobs (1888-1970)', "five" ) }}

	{{ slide.info("10817035","",'“Story of Hansel & Gretel” (c.1925) by Frank Adams (1903-1944)', "six" ) }}

	{{ slide.info("10728681","",'“Up to Mischief” (c.1958) by Harold Gaze (1885-1962)', "seven" ) }}

	{{ slide.info("10728729","",'“Mowgli” (c.1923) by Jessie Willcox Smith (1863-1935)', "eight" ) }}

	{{ slide.info("10728660"," ",'“The Little Mermaid” (c.1911) by Edmund Dulac (1882-1953)', "nine" ) }}

	{{ slide.info("10728702","",'“Air Castles” (c.1904) by Maxfield Parrish (1870-1966)', "ten" ) }}

	{{ slide.info("10817047","",'“Mothman” (c.1980) by Frank Frazetta (1928-)', "eleven" ) }}
	</div>
</div>
