<div id="graphic-narrative" class="max block">
    <h2>The Graphic Narrative</h2>
    <hr>
    <p>The most inventive comic strips of a hundred years ago likely provided inspiration to the Surrealists; in pencil and ink, graphic narrative artists provide a gateway to an otherwise inaccessible world of absurdly effective contraptions, space travel, dreams and nightmares.</p>
</div>

{% import 'components/_slideshow.html' as slide %}

<div class="gallery">
	<div class="gridfour">

	    {{ slide.info("10728694","gn-sizer", '“Little Nemo in Slumberland, Sunday Page - Nemo & Friends atop a Wild Fuzzie K” (October 3, 1909) by Winsor McCay (1869-1934)', "gn-one" ) }}

	    {{ slide.info("10728682","", '“Krazy Kat, Sunday Page - Waterfall” (May 13, 1917) by George Herriman (1880-1944)', "gn-two" ) }}

	    {{ slide.info("10728701","", "“Flash Gordon, Sunday Page” (March 17, 1935) by Alex Raymond (1909-1956)", "gn-three" ) }}

	</div>
</div>