<div id="great-themes" class="max block">
    <h2>The Great Themes</h2>
    <hr>
    <p>From a full set of 207 original drawings for “The Book of Genesis” as re-told by Zap Comix artist R. Crumb, to a set of 23 interpretations of “Aesop’s Fables” by the great Jacob Lawrence, to Keith Haring’s obsessive rumination on “The Last Rainforest,” the collection reflects concerns of deep cultural significance.</p>
</div>

{% import 'components/_slideshow.html' as slide %}
<div class="gallery">
	<div class="gridthree">

    {{ slide.info("10728661", "gr-sizer", 'Robert Crumb (1943-), “The Book of Genesis” (2009), pen & ink on paper', "gt-one" ) }}

    {{ slide.info("10728690","", 'Jacob Lawrence (1917-2000), “The Bundle of Sticks from Aesop\'s Fables” (1969), brush & ink on paper (number 19 in a series of 23 drawings)', "gt-two", 'large' ) }}

    {{ slide.info("10817323","", 'Keith Haring (1958 - 1990), “The Last Rainforest” (1989), acrylic and enamel on canvas', "gt-three", 'large' ) }}

</div>
</div>
