<div id="stories-draft" class="max block">
    <h2>Stories in Draft</h2>
    <hr>
    <p>An important area of the collection consists of sketches and models. They represent the origins and thinking behind influential cultural landmarks in art, whether on canvas, the printed page or  &mdash; an unsurprisingly rich vein in a collection founded by George Lucas - film.
</p>
</div>

{% import 'components/_slideshow.html' as slide %}
<div class="gallery">
    <div class="gridfive">

        {{ slide.info("10728680","sd-sizer", '"Starwatcher II, #2 of 3" (c.1985) by Jean-Luc "Moebius" Giraud (1938-2012)', "sd-one" ) }}

        {{ slide.info("10728679", "", "\"Betty Boop Mouth Action Chart\"(c.1938) by Max Fleischer (1883-1972)", "sd-two", "large" ) }}

        {{ slide.info("10728686","", "\"The Ten Commandments\" (1956) by Dorothy Jeakins (1910-1986)", "sd-three" ) }}

        {{ slide.info("10728670","", "\"The Ten Commandments, Yul Brynner\" (1956) by Arnold Friberg (1913-2010)", "sd-four" ) }}

    </div>
</div>