{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include 'components/_social.html' %}
{% endblock %}

{% block hearst_title %}{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block author %}Charles Desmarais, Lucio Villa, Kimberly Chua{% endblock %}

{% block content %}

{% include 'components/_header.html' %}

<main class="container">

	<div class="title-container">
		<div class="background-img main-bg show-for-medium">
		    <div class="dim"></div>
			<div class="over-img">
				<h1 class="title">The art of storytelling</h1>
				<p style="text-align:center;">An exclusive first look at the collection of the Lucas Museum of Narrative Art</p>
				<p class="date" style="margin-bottom:0;">August 30, 2016</p>
				<p class="author">By <a href="mailto:cdesmarais@sfchronicle.com">Charles Desmarais</a></p>
			</div>
		</div>
		<p class="caption landing show-for-medium">The Treasure Island Chapel sits on the proposed site of the Lucas Museum of Narrative Art on Treasure Island. <span class="byline">Michael Macor, The Chronicle</span></p>
		<div class="mobile-img hide-for-medium">
			<img style="width:100%" src="http://ww4.hdnux.com/photos/50/73/23/10833184/3/1200x1200.jpg">
			<p class="caption landing">The Treasure Island Chapel sits on the proposed site of the Lucas Museum of Narrative Art on Treasure Island. <span class="byline">Michael Macor, The Chronicle</span></p>
			<h1 class="title">The art of storytelling</h1>
			<p style="text-align:center;">An exclusive first look at the collection of the Lucas Museum of Narrative Art</p>
			<p class="date" style="margin-bottom:0;">August 30, 2016</p>
			<p class="author" style="margin-bottom:2.5em;">By <a href="mailto:cdesmarais@sfchronicle.com" style="color:#000;">Charles Desmarais</a></p>
		</div>
	</div>

	{% include 'blocks/text.html' %}

	{% include 'components/_footer.html' %}

</main>

{% endblock %}

{% block javascript %}
<script>

	$(document).ready(function() {
	  App.init();
	});



	// init Masonry
	var $grid = $('.grid').masonry({
	  // options...
	  itemSelector: '.cls-item',
	  gutter: 10,
	  columnWidth: '.grid-sizer',
	  percentPosition: true,
	  transitionDuration: 0
	});
	// layout Masonry after each image loads
	$grid.imagesLoaded().progress( function() {
	  $grid.masonry('layout');
	});

	// init Masonry
	var $gridtwo = $('.gridtwo').masonry({
	  // options...
	  itemSelector: '.cls-item',
	  gutter: 10,
	  columnWidth: '.amr-sizer',
	  percentPosition: true,
	  transitionDuration: 0
	});
	// layout Masonry after each image loads
	$gridtwo.imagesLoaded().progress( function() {
	  $gridtwo.masonry('layout');
	});

	// init Masonry
	var $gridthree = $('.gridthree').masonry({
	  // options...
	  itemSelector: '.cls-item',
	  gutter: 10,
	  columnWidth: '.gr-sizer',
	  percentPosition: true,
	  transitionDuration: 0
	});
	// layout Masonry after each image loads
	$gridthree.imagesLoaded().progress( function() {
	  $gridthree.masonry('layout');
	});

	// init Masonry
	var $gridfour = $('.gridfour').masonry({
	  // options...
	  itemSelector: '.cls-item',
	  gutter: 10,
	  columnWidth: '.gn-sizer',
	  percentPosition: true,
	  transitionDuration: 0
	});
	// layout Masonry after each image loads
	$gridfour.imagesLoaded().progress( function() {
	  $gridfour.masonry('layout');
	});

	// init Masonry
	var $gridfive = $('.gridfive').masonry({
	  // options...
	  itemSelector: '.cls-item',
	  gutter: 10,
	  columnWidth: '.sd-sizer',
	  percentPosition: true,
	  transitionDuration: 0
	});
	// layout Masonry after each image loads
	$gridfive.imagesLoaded().progress( function() {
	  $gridfive.masonry('layout');
	});

	$(document).foundation();
	

</script>
{% endblock %}
