<div class="max">
  <hr>
  <div class="credits">
    {% import 'components/_credits.html' as credit %}
    <!-- Variables are name, email slug and twitter handle -->
    <div class="group">
      <p>Chronicle Art Critic</p>
      {{ credit.info('Charles Desmarais', 'cdesmarais', 'Artguy1' ) }}
    </div>
    <div class="group">
      <p>Interactive producers</p>
      {{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
      {{ credit.info('Kimberly Chua', 'kchua', 'KimberlyAChua' ) }}
      {{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
    </div>
  </div>
</div>

<div class="max">
  <hr>
  <div class="dont-miss-title">More from <a href="http://sfchronicle.com">SFChronicle.com</a></div>
  <div class="dont-miss-related">
    <div class="story ">
    <div class="padded">
      <a href="http://www.sfchronicle.com/bayarea/place/article/How-George-Lucas-can-make-his-museum-work-in-S-F-8330518.php">
        <img src="{{ url_for('static', filename='photos/lucas.jpg') }}">
      <h4>How Lucas' pitch could work</h4>
      </a>
    </div>
  </div>
    <div class="story ">
    <div class="padded">
      <a href="http://www.sfchronicle.com/bayarea/matier-ross/article/George-Lucas-SF-museum-Like-Chicago-but-this-8324501.php">
        <img src="{{ url_for('static', filename='photos/chicago.jpg') }}">
      <h4>Veering from Chicago vision</h4>
      </a>
    </div>
  </div>
    <div class="story ">
    <div class="padded">
      <a href="http://www.sfchronicle.com/bayarea/article/Lucas-Museum-could-boost-Treasure-Island-transit-7513391.php">
        <img src="{{ url_for('static', filename='photos/island.jpg') }}">
      <h4>A look at Treasure Island site</h4>
      </a>
    </div>
  </div>
    <div class="story ">
    <div class="padded">
      <a href="http://www.sfchronicle.com/bayarea/article/How-George-Lucas-bid-for-a-Presidio-museum-6232165.php">
        <img src="{{ url_for('static', filename='photos/misfired.jpg') }}">
      <h4>Why the first bid misfired</h4>
      </a>
    </div>
  </div>
  </div>
</div>

<footer>
  <a class="logo" href="http://www.sfchronicle.com" target="_blank">
    <img src="http://projects.sfchronicle.com/shared/logos/sfc_logo_white.png">
  </a>
</footer>
