<div class="max">
  <hr>
  <div class="credits">
    {% import 'components/_credits.html' as credit %}
    <!-- Variables are name, email slug and twitter handle -->
    <div class="group">
      <p>Reporter</p>
      {{ credit.info('Charles Desmarais', 'cdesmarais', 'Artguy1' ) }}
    </div>
    <div class="group">
      <p>Interactive producers</p>
      {{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
      {{ credit.info('Kimberly Chua', 'kchua', 'KimberlyAChua' ) }}
      {{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
    </div>
  </div>
</div>

<div class="max">
  <hr>
  <div class="dont-miss-related">
    <div class="story ">
    <div class="padded">
      <a href="http://projects.sfchronicle.com/2016/black-voices/">
        <img src="{{ url_for('static', filename='photos/blacklives_social.jpg') }}">
      <h4>Black lives, black voices</h4>
      </a>
    </div>
  </div>
    <div class="story ">
    <div class="padded">
      <a href="http://projects.sfchronicle.com/2016/sfmoma-tour-guide/">
        <img src="{{ url_for('static', filename='photos/moma_social.jpg') }}">
      <h4>Take a tour of SFMOMA</h4>
      </a>
    </div>
  </div>
    <div class="story ">
    <div class="padded">
      <a href="http://www.sfchronicle.com/covers/">
        <img src="{{ url_for('static', filename='photos/chroncovers_social.jpg') }}">
      <h4>Chronicle covers</h4>
      </a>
    </div>
  </div>
    <div class="story ">
    <div class="padded">
      <a href="http://www.sfchronicle.com/rice/">
        <img src="{{ url_for('static', filename='photos/rice_social.jpg') }}">
      <h4>The rice issue</h4>
      </a>
    </div>
  </div>
  </div>
</div>

<footer>
  <a class="logo" href="http://www.sfchronicle.com" target="_blank">
    <img src="http://projects.sfchronicle.com/shared/logos/sfc_logo_white.png">
  </a>
</footer>
